@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500;800&display=swap");

.Portfolio {
  background: linear-gradient(to bottom, rgba(15, 8, 8, 0.876) 85%, transparent),
    url("../../assets/images/emile-perron-xrVDYZRGdw4-unsplash.jpg") center /
      cover no-repeat border-box,
    #ff1b68;
  height: 100%;
  overflow: hidden;
}

.Content {
  display: block;
}

.Title {
  color: #e4f0f1;
  text-align: center;
  font-family: "Roboto Slab", sans-serif;
}

@media (min-width: 40rem) {
  .Portfolio {
    height: 100vh;
    background: linear-gradient(
        to bottom,
        rgba(15, 8, 8, 0.856) 65%,
        transparent
      ),
      url("../../assets/images/emile-perron-xrVDYZRGdw4-unsplash.jpg") center /
        cover no-repeat border-box,
      #ff1b68;
  }

  .Content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    overflow: hidden;
  }
}
