.Toolbar {
  height: 56px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #1a1919;
  display: flex;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 1;
  /* justify-content: space-between; */
}

.Toolbar nav {
  width: 100%;
}

@media (max-width: 32rem) {
  .DesktopOnly {
    display: none;
  }
}
