.Background {
  width: 100vw;
  margin: auto;
  height: 100vh;
  background: linear-gradient(to bottom, rgba(15, 8, 8, 0.856) 60%, transparent),
    url("../../assets/images/james-harrison-vpOeXr5wmR4-unsplash.jpg") center /
      cover no-repeat border-box,
    #ff1b68;
  display: flex;
  flex-direction: column;
}

.Content {
  text-align: center;
  color: white;
  position: absolute;
  top: 5rem;
  left: 8rem;
  right: 8rem;
}

.Content h1 {
  font-size: 2.5rem;
}

.Content h2 {
  font-size: 1.8rem;
  color: #b6b1b1;
}

.Content p {
  font-size: 1.2rem;
}

.Code {
  font-weight: bold;
  font-style: italic;
  font-size: 1.4rem;
  color: #df0202;
}

.Experience {
  margin-top: 5rem;
}
